<!-- streamlit_template.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Embedded Streamlit App</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <div class="=container">
         <div class="row ">
            <div class="col-4">
                <div class="card" style="min-height: 600px !important">
                    <div class="card-header">
                        <div class="row">
                            <div class="col h5">Chat History</div>
                            <div class="col-2">
                                <button type="submit" class="btn btn-primary" id="new_chat"><i class="fa-solid fa-pen-to-square"></i></button>
                            </div>
                        </div>
                    </div>
                    <div class="card-body"></div>

                </div>
            </div>

            <div class="col ">
                <div class="card" style="min-height: 600px !important">
                    <div class="h5 card-header">Chat</div>
                        <div class="card-body flex-grow-1 overflow-auto">
                            <p> this is only test</p>
                        </div>
                        <div class="card-footer">
                            <form >
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col">
                                            <input type="text"  id="chat_detail" placeholder="Ask anything..." class="form-control">
                                        </div>
                                        <div class="col-1">
                                            <button type="submit" id="send_button" class="btn btn-primary"><i class="fa-solid fa-paper-plane"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
            </div>
        </div>

    </div>

</body>
<script src="https://code.jquery.com/jquery-3.7.1.slim.min.js" integrity="sha256-kmHvs0B+OpCW5GVHUNjv9rOmY0IvSIRcf7zGUDTDQM8=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<script>
    let ws = ''
    const ws_path = (group) =>{
         ws = '127.0.0.1:8000/path/'+group+'/'
         return ws
    }
    const new_ws = (ws_path) =>{
        console.log(ws_path ,"*************************")
        var ws = new WebSocket('ws://127.0.0.1/path/sdsdwer3443');
        console.log(ws,"$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$")
    }

    ws.onopen = (event) => {
    console.log("websocket connection stablished ")
    }

    ws.onmessage = (event) => {
        let text = "";
    }

    ws.onclose = (event) => {
        console.log("connection closed");
    }
    $('#send_button').on('click',function(e){
        e.preventDefault()
        console.log("button clicked")
        let question = $('#chat_detail').val()
        ws.send(question)
    });

    $("#new_chat").on('click' , function(){
        var now = new Date();
        var timestampKey = now.getFullYear().toString() +
           (now.getMonth() + 1).toString().padStart(2, '0') +
           now.getDate().toString().padStart(2, '0') +
           now.getHours().toString().padStart(2, '0') +
           now.getMinutes().toString().padStart(2, '0') +
           now.getSeconds().toString().padStart(2, '0');
        console.log("Timestamp Key:", timestampKey);
        path  = ws_path(timestampKey)
        console.log(path ,"%^^^^^^^^^^^^^^^^^")
        new_ws(ws_path)
    });


</script>

</html>
